@{
    ViewData["Title"] = "Teste Bludata";
}

<h2>@ViewData["Title"]</h2>

<table>
    <tr>
        <td>
            <p><a asp-controller="Empresas" asp-action="Index" class="btn btn-default">Empresas</a></p>
        </td>
    </tr>
    <tr>
        <td>
            <p><a asp-controller="Fornecedores" asp-action="Index" class="btn btn-default">Fornecedores</a></p>
        </td>
    </tr>
</table>
